*{
	margin:0;
	padding:0;
}
.body-div{
	position:absolute;
	left:0px;
	width:1534px;
	height:700px;
	margin-left:auto;
	margin-right:auto;
	
	
}
.nav::before{
	content:"";
	display:inline-block;
	width:105px;
	height:40px;
	top:-1px;
	
	
}

.nav{
	 position:absolute;
	 top:1px;
	 width:1534px;
	 height:40px;
	 background-color:black;
	 opacity:0.8
}
.nav-ul-left{
	 list-style: none;
	 margin-left:105px;
	 margin-top:-33px;
}
.nav-li-left{
	  float:left;
	  font-size:12px;
	  padding:0 3px;
	  text-decoration: none;
	  
}
.nav-span-left{
	 color:darkgray;
	 margin-left:3px;
}
.nav-ul-right{
	 list-style: none;
	 margin-right:335px;
}
.nav-li-right{
	 float:right;
	 font-size:12px;
	 padding:0 3px;
	 text-decoration: none;
}
.car .car_a .car-span:hover{
	 color: #FF4400;
}
.car_a{
	position: absolute;
	display:inline-block;
	width:100px;
	height:38px;
	color:white;
}
.car .car_a:hover{
	background-color: white;
	color:#FF0000;
}

.hidden-p{
	display: inline-block;
	line-height: 100px;
	color: #424242;
}
.car_a:hover .hidden-car{
	display: block;
}
.nav-a{
	 text-decoration: none;
	 color:darkgray;
}
.nav-a:hover{
	  color:white;
	  
}
.car{
	position: absolute;
	top:1px;
	width:100px;
	height:38px;
	background-color:#424242;
	display:inline-block;
	margin-left:1120px;
	font-size:12px;
	vertical-align: 12px;
	
}
.car-span{
	position: absolute;
	font-size:12px;
	top:15px;
	margin-left:40px;
	
}
.shop-img{
	position: absolute;
	padding-left:5px;
	top:5px;
	height:30px;
	width:30px;
}



.menue{
	 position:absolute;
	 top:42px;
	 width:1534px;
	 height:100px;
	 
}
.left{
	position:absolute;
	top:15px;
	left:105px;
	
}
.left-img{
	width:55px;
	height:55px;
	left:105px;
	top:25px;
}
.middle{
	 position:absolute;
	 top:15px;
	 left:300px;
	 width:600px;
	 height:66px;
	 
	 z-index:8;
}
.middle-ul{
	 list-style: none;
	 margin-left:10px;
}
.middle-li{
	 float:left;
	 margin:25px 11px;
	 font-size:14px;
	 
}
.middle-a{
	display: inline-block;
	
	color:#424242;
	text-decoration: none;
}
.middle-a:hover{
	color:#FF6700;
}
.hidden-1{
	display:none;
	position: absolute;
	
	top:67px;
	border:1px solid lightgray;
	margin-left:-320px;
	width:1400px;
	height:220px;
	background-color: white;
	
}
.middle-a:hover .hidden-1{
	display:block;
}
.hidden-2{
	display:none;
	position: absolute;
	
	top:67px;
	border:1px solid lightgray;
	margin-left:-420px;
	width:1400px;
	height:220px;
	background-color: white;
	
}
.middle-a:hover .hidden-2{
	display:block;
}
.hidden-3{
	display:none;
	position: absolute;
	
	top:67px;
	border:1px solid lightgray;
	margin-left:-480px;
	width:1400px;
	height:220px;
	background-color: white;
	
}
.middle-a:hover .hidden-3{
	display:block;
}
.hidden-4{
	display:none;
	position: absolute;
	
	top:67px;
	border:1px solid lightgray;
	margin-left:-520px;
	width:1400px;
	height:220px;
	background-color: white;
	
}
.middle-a:hover .hidden-4{
	display:block;
}
.hidden-5{
	display:none;
	position: absolute;
	
	top:67px;
	border:1px solid lightgray;
	margin-left:-610px;
	width:1400px;
	height:220px;
	background-color: white;
	
}
.middle-a:hover .hidden-5{
	display:block;
}
.newphone{
	position: absolute;
	margin-top:-15px;
	margin-left:21px;
	width:60px;
	height:17px;
	border:1px solid #FF4400;
	
}
.xinpin{
	display: inline-block;
	font-size: 12px;
	padding-left:18px;
	
	vertical-align: 5px;
	
}
.xinpin-p{
	font-size: 12px;
	margin-top:135px;
	margin-left:35px;
	color:#FF4400;
}
.price{
	margin-left:33px;
	margin-top:7px;
	
}
.hidden-ul{
	list-style: none;
	margin-left:90px;
}
.hidden-li{
	float:left;
	margin-left:150px;
	margin-top:15px;

}
.hidden-img{
	display: inline-block;
	margin-top:15px;
	height:110px;
	width:105px;
}


input{
	display: inline-block;
	 position: absolute;
	 padding-left:15px;
	 margin-left:1047px;
	 margin-top:-30px;
	 width:185px;
	 height:62px;
	 outline-color: #FF4400;
	 
}

	

.red:hover{
	border:1px solid red;
}

.big-word{
	width:
}
.word{
	display:inline-block;
	
}


.right-2{
	 position:absolute;
	 right:208px;
	 width:74px;
	 height:64px;
	 top:15px;
	 border:1px solid #FF4400;
	 background-color: white;
	 
}
.sousou-icon{
	width:30px;
	height:30px;
	top:20px;
	left:20px;
	
}
.sousuo{
	 display: inline-block;
	 width:74px;
	 height:64px;
}
.sousuo:hover{
	background-color: #FF6700;
}

.content{
	 position:absolute;
	 top:144px;
	 left:107px;
	 width:1218px;
	 height:350px;
	 
	 z-index: 7;
}
.content-nav{
	position: absolute;
	
	width:250px;
	height:348px;
	background-color:#113360;
	
	z-index:25;
	
	
}
.content-ul{
	list-style: none;
}
.content-li{
	
	height:30px;
	line-height: 30px;
	margin-top:5px;
	padding-left: 30px;
    padding-right:100px;
}
#liu{
	display: inline-block;
	font-size:12px;
	margin-left:30px;
	color:white;
	
}
.left_a{
	
	width:250px;
	height:35px;
	margin-left:-30px;
	display:block;
    
	text-decoration: none;
	
}
.left_a:hover{
	
	background-color: #ff6700;
}
.content-hidden-1{
	display:none;
	position:absolute;
	margin-top:-37px;
	margin-left:250px;
	
	width:970px;
	height:348px;
	background-color: white;
}
.content-hidden-ul{
	list-style: none;
}
.content-hidden-li{
	float:left;
}
.left_a:hover .content-hidden-1{
	display:block;
}
.hidden-words{
	position: absolute;
	width:964px;
	height:346px;
	
}
.hidden-words-ul{
	list-style: none;
}
.hidden-words-li{
	float:left;
}
.hidden-words-span-1{
	position: absolute;
	margin-left:68px;
	margin-top:11px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-2{
	position: absolute;
	margin-left:320px;
	margin-top:11px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-3{
	position: absolute;
	margin-left:572px;
	margin-top:11px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-4{
	position: absolute;
	margin-left:822px;
	margin-top:11px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-5{
	position: absolute;
	margin-left:68px;
	margin-top:80px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-6{
	position: absolute;
	margin-left:320px;
	margin-top:80px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-7{
	position: absolute;
	margin-left:572px;
	margin-top:80px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-8{
	position: absolute;
	margin-left:822px;
	margin-top:80px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-9{
	position: absolute;
	margin-left:68px;
	margin-top:149px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-10{
	position: absolute;
	margin-left:320px;
	margin-top:149px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-11{
	position: absolute;
	margin-left:572px;
	margin-top:149px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-12{
	position: absolute;
	margin-left:822px;
	margin-top:149px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-13{
	position: absolute;
	margin-left:68px;
	margin-top:218px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-14{
	position: absolute;
	margin-left:320px;
	margin-top:218px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-15{
	position: absolute;
	margin-left:572px;
	margin-top:218px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-16{
	position: absolute;
	margin-left:822px;
	margin-top:218px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-17{
	position: absolute;
	margin-left:68px;
	margin-top:287px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-18{
	position: absolute;
	margin-left:322px;
	margin-top:287px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-19{
	position: absolute;
	margin-left:572px;
	margin-top:287px;
	color:#424242;
	font-size:14px;
}
.hidden-words-span-20{
	position: absolute;
	margin-left:822px;
	margin-top:287px;
	color:#424242;
	font-size:14px;
}
span:hover{
	color:#FF6700;
}
img{
	position: absolute;
	width:50px;
	height:50px;
}
.content-hidden-p1{
	position: absolute;
	margin-top:0px;
	margin-left:15px;
}
.content-hidden-p2{
	position: absolute;
	margin-top:0;
	margin-left:265px;
}
.content-hidden-p3{
	position:absolute;
	margin-top:0;
	margin-left:515px;
}
.content-hidden-p4{
	position: absolute;
	margin-top:0;
	margin-left:765px;
}

.content-hidden-p5{
	position: absolute;
	margin-top:70px;
	margin-left:15px;
}
.content-hidden-p6{
	position: absolute;
	margin-top:70px;;
	margin-left:265px;
}
.content-hidden-p7{
	position: absolute;
	margin-top:70px;
	margin-left:515px;
}
.content-hidden-p8{
	position: absolute;
	margin-top:70px;
	margin-left:765px;
}
.content-hidden-p9{
	position: absolute;
	margin-top:140px;
	margin-left:15px;
}
.content-hidden-p10{
	position: absolute;
	margin-top:140px;
	margin-left:265px;
}
.content-hidden-p11{
	position: absolute;
	margin-top:140px;
	margin-left:515px;
}
.content-hidden-p12{
	position: absolute;
	margin-top:140px;
	margin-left:765px;
}
.content-hidden-p13{
	position: absolute;
	margin-top:210px;
	margin-left:15px;
	
}
.content-hidden-p14{
	position: absolute;
	margin-top:210px;
	margin-left:265px;
}
.content-hidden-p15{
	position: absolute;
	margin-top:210px;
	margin-left:515px;
}
.content-hidden-p16{
	position: absolute;
	margin-top:210px;
	margin-left:765px;
}
.content-hidden-p17{
	position: absolute;
	margin-top:280px;
	margin-left:15px;
}
.content-hidden-p18{
	position: absolute;
	margin-top:280px;
	margin-left:265px;
}
.content-hidden-p19{
	position: absolute;
	margin-top:280px;
	margin-left:515px;
}
.content-hidden-p20{
	position: absolute;
	margin-top:280px;
	margin-left:765px;
}
.content-hidden-2{
	display:none;
	position:absolute;
	margin-top:-72px;
	margin-left:250px;
	
	width:965px;
	height:348px;
	background-color: white;
}
.left_a:hover .content-hidden-2{
	display:block;
}
.content-hidden-3{
	display:none;
	position:absolute;
	margin-top:-107px;
	margin-left:250px;
	
	width:965px;
	height:348px;
	background-color: white;
}
.left_a:hover .content-hidden-3{
	display:block;
}
.content-hidden-4{
	display:none;
	position:absolute;
	margin-top:-142px;
	margin-left:250px;
	
	width:970px;
	height:348px;
	background-color: white;
}
.left_a:hover .content-hidden-4{
	display:block;
}
.content-hidden-5{
	display:none;
	position:absolute;
	margin-top:-177px;
	margin-left:250px;
	
	width:970px;
	height:348px;
	background-color: white;
}
.left_a:hover .content-hidden-5{
	display:block;
}
.content-hidden-6{
	display:none;
	position:absolute;
	margin-top:-212px;
	margin-left:250px;
	
	width:970px;
	height:348px;
	background-color: white;
}
.left_a:hover .content-hidden-6{
	display:block;
}
.content-hidden-7{
	display:none;
	position:absolute;
	margin-top:-247px;
	margin-left:250px;
	
	width:970px;
	height:348px;
	background-color: white;
}
.left_a:hover .content-hidden-7{
	display:block;
}
.content-hidden-8{
	display:none;
	position:absolute;
	margin-top:-282px;
	margin-left:250px;
	
	width:970px;
	height:348px;
	background-color: white;
}
.left_a:hover .content-hidden-8{
	display:block;
}
.content-hidden-9{
	display:none;
	position:absolute;
	margin-top:-317px;
	margin-left:250px;
	
	width:970px;
	height:348px;
	background-color: white;
}
.left_a:hover .content-hidden-9{
	display:block;
}
.content-hidden-10{
	display:none;
	position:absolute;
	margin-top:-352px;
	margin-left:250px;
	
	width:970px;
	height:348px;
	background-color: white;
}
.left_a:hover .content-hidden-10{
	display:block;
}
.bottom-1{
	 position:absolute;
	 top:370px;
	 left:0px;
	 width:1218px;
	 height:150px;
	 
}
.bottom-ul{
	list-style: none;
}
.bottom-li{
	float:left;
	
}
.bottom-img-1{
	display: inline-block;
	position: absolute;
	margin-left:-1px;
	width:300px;
	height:150px;
}
.bottom-img-2{
	display: inline-block;
	position: absolute;
	margin-left:310px;
	width:310px;
	height:150px;
}
.bottom-img-3{
	display: inline-block;
	position: absolute;
	margin-left:630px;
	width:310px;
	height:150px;
}
.bottom-img-4{
	display: inline-block;
	position: absolute;
	margin-left:949px;
	width:270px;
	height:150px;
}

.small-logo{
	position: fixed;
	margin-top:40px;
	margin-left:1355px;
	/*border:1px solid whitesmoke;*/
	height:440px;
	width:150px;
	padding:3px 0;
}
.logo-p1{
	position: absolute;
	margin-top:-10px;
	width:40px;
	height:40px;
}
.logo-p2{

	position: absolute;
	display: none;
	margin-top:-10px;
	width:40px;
	height:40px;
}
.ma{
	position:absolute;
	top:0px;
	right:90px;
	width:110px;
	height:110px;
	
}
.sao{
	position: absolute;
	margin-left:-70px;
	margin-top:-5px;
	display: none;
	width:113px;
	height:110px;
}
.logo-a1:hover .sao{
	display:block;
}
.logo-a1{
	color:#424242;
}
.logo-a1:hover{
	color:#f40;
}
.logo-a1:hover .logo-p2{
	display:block;
}
.logo-p3{
	position: absolute;
	margin-top:80px;
	margin-left:-50px;
	width:40px;
	height:40px;
}
.logo-p4{
	position: absolute;
	display: none;
	margin-top:-10px;
	margin-left:1px;
	width:40px;
	height:40px;
	
}
.logo-a1:hover .logo-p4{
	display:block;
}
.logo-p5{
	position: absolute;
	width:40px;
	height:40px;
	margin-top:80px;
	margin-left:-51px;
}
.logo-p6{
	position: absolute;
	width:40px;
	height:40px;
	display:none;
	margin-top:-9px;
	margin-left:1px;
}
.logo-a1:hover .logo-p6{
	display:block;
}
.logo-p7{
	position: absolute;
	width:40px;
	height:40px;
	margin-top:80px;
	margin-left:-50px;
}
.logo-p8{
	position: absolute;
	width:40px;
	height:40px;
	margin-top:-10px;
	margin-left:2px;
	display:none;
}
.logo-a1:hover .logo-p8{
	display:block;
}
.logo-p9{
	position: absolute;
	width:40px;
	height:40px;
	margin-top:80px;
	margin-left:-50px;
}
.logo-p10{
	position: absolute;
	display:none;
	width:40px;
	height:40px;
	margin-top:-10px;
	margin-left:2px;
}
.logo-a1:hover .logo-p10{
	display:block;
}
.App{
	
	display:inline-block;
	
	 padding:35px 0;
	 display: inline-block;
	 margin-left:-4px;
	 font-size:14px;
}

/*轮播广告*/


#frame{
    	position:absolute;
    	width:1000px;
    	height:348px;
    	overflow:hidden;
    	margin-left: 218px;
    	
    	}
    	

.img-flash-1{
	    float:left;
	    width:1000px;
	    height:348px;
	    margin-left:0px;
	    }
.img-flash-2{
	    float:left;
	    width:1000px;
	    height:348px;
	    margin-left:1000px;
	    }
.img-flash-3{
	    float:left;
	    width:1000px;
	    height:348px;
	    margin-left:2000px;
	    }
.img-flash-4{
	    float:left;
	    width:1000px;
	    height:348px;
	    margin-left:3000px;
	    }
	    
#photos {  
	     position: absolute;
	     /*z-index:9;*/  
	     width: calc(1000px * 4);/*---修改图片数量的话需要修改下面的动画参数*/  }
.play{ 
	animation: ma 13s ease-out infinite alternate;
	}
@keyframes ma {
        0%,25% {        margin-left: 0px;       }
        30%,50% {       margin-left: -1000px;    }
        55%,75% {       margin-left: -2000px;    }
        80%,100% {       margin-left: -3000px;    }

    }

.radius_ul{
	     list-style:none;
}
.radius_span-1:after{				
			    position:absolute;
			    content: "";
			    border: 2px solid #fff;
			    border-left:0;
			    border-bottom:0;
			    margin-left:210px;
			    margin-top:19px;
			    width: 6px;
			    height: 6px;
			    display: block;
			    transform: rotate(45deg);
			    
}
.radius_span-2:after{				
			    position:absolute;
			    content: "";
			    border: 2px solid #fff;
			    border-left: 0;
			    border-bottom:0;
			    margin-left:210px;
			    margin-top:54px;
			    width: 6px;
			    height: 6px;
			    display: block;
			    transform: rotate(45deg);
			    
}
.radius_span-3:after{				
			    position:absolute;
			    content: "";
			    border: 2px solid #fff;
			    border-left: 0;
			    border-bottom:0;
			    margin-left:210px;
			    margin-top:89px;
			    width: 6px;
			    height: 6px;
			    display: block;
			    transform: rotate(45deg);
			    
}
.radius_span-4:after{				
			    position:absolute;
			    content: "";
			    border: 2px solid #fff;
			    border-left: 0;
			    border-bottom:0;
			    margin-left:210px;
			    margin-top:124px;
			    width: 6px;
			    height: 6px;
			    display: block;
			    transform: rotate(45deg);
			    
}
.radius_span-5:after{				
			    position:absolute;
			    content: "";
			    border: 2px solid #fff;
			    border-left: 0;
			    border-bottom:0;
			    margin-left:210px;
			    margin-top:159px;
			    width: 6px;
			    height: 6px;
			    display: block;
			    transform: rotate(45deg);
			    
}
.radius_span-6:after{				
			    position:absolute;
			    content: "";
			    border: 2px solid #fff;
			    border-left: 0;
			    border-bottom:0;
			    margin-left:210px;
			    margin-top:194px;
			    width: 6px;
			    height: 6px;
			    display: block;
			    transform: rotate(45deg);
			    
}
.radius_span-7:after{				
			    position:absolute;
			    content: "";
			    border: 2px solid #fff;
			    border-left: 0;
			    border-bottom:0;
			    margin-left:210px;
			    margin-top:229px;
			    width: 6px;
			    height: 6px;
			    display: block;
			    transform: rotate(45deg);
			    
}
.radius_span-8:after{				
			    position:absolute;
			    content: "";
			    border: 2px solid #fff;
			    border-left: 0;
			    border-bottom:0;
			    margin-left:210px;
			    margin-top:264px;
			    width: 6px;
			    height: 6px;
			    display: block;
			    transform: rotate(45deg);
			    
}
.radius_span-9:after{				
			    position:absolute;
			    content: "";
			    border: 2px solid #fff;
			    border-left: 0;
			    border-bottom:0;
			    margin-left:210px;
			    margin-top:299px;
			    width: 6px;
			    height: 6px;
			    display: block;
			    transform: rotate(45deg);
			    
}
.radius_span-10:after{				
			    position:absolute;
			    content: "";
			    border: 2px solid #fff;
			    border-left: 0;
			    border-bottom:0;
			    margin-left:210px;
			    margin-top:334px;
			    width: 6px;
			    height: 6px;
			    display: block;
			    transform: rotate(45deg);
			    
}
.big-radius{
	position: absolute;
	
	width:55px;
	height:55px;
	margin-left:450px;
	margin-top:300px;
	
}
.big-radius-span-1:after{				
		        position:absolute;
			    content: "";
			    border: 2px solid #f4f0f0;
			   
			    border-left:0;
			    border-bottom:0;
			    margin-left:710px;
			    margin-top:-130px;
			    width:20px;
			    height: 20px;
			    display: block;
			    transform: rotate(45deg);
			    z-index: 6;
			    
}
.big-radius-a-1{
	  position: absolute;
	  margin-top:-150px;
	  margin-left:710px;
	  display: inline-block;
	  width:40px;
	  height:67px;
	  background-color: black;
	  opacity: 0.4;
	  z-index: 5;
}
.big-radius-a-2{
	  position: absolute;
	  margin-top:-150px;
	  margin-left:-175px;
	  display: inline-block;
	  width:40px;
	  height:67px;
	  background-color: black;
	  opacity: 0.4;
	  z-index: 5;
}
.big-radius-span-2:after{				
		        position:absolute;
			    content: "";
			    border: 2px solid #f4f0f0;
			   
			    border-right:0;
			    border-top:0;
			    margin-left:-160px;
			    margin-top:-130px;
			    width:20px;
			    height: 20px;
			    display: block;
			    transform: rotate(45deg);
			    z-index: 6;
			    
}

/*第二个*/
.a-head{
	            float: right;
				padding: 8px 19px;
				color: gray;

}
.a-head:link{
				color: black;
				text-decoration: none;
}
.a-head:hover{
				color: #FF4400;
}
.div_big{       
	            
	            margin-left:108px;
	            margin-top:700px;
				background-color:whitesmoke;
				width:1218px;
				
}
.div_head{
				overflow: hidden;
			}
.div_head .span-phone{
				float: left;
				padding: 8px;
				color: #424242;
			}

.body_left{
				height: 550px;
				
				width: 18%;
				float: left;
}
.big-img{       position:absolute;
                left:120px;
                top:737px;
				height: 545px;
				width:220px;
			}
.body_right{
				height: 550px;
				
				width: 80%;
				float: right;
				padding-left:5px;
			}
.body_right_img{
				height:160px;
				width:160px;
				padding-top: 20px;
				padding-left:21px;
			}
.div_body{        
				overflow: hidden;
			}
.number{       
				background-color: white;
				height: 49%;
				width: 24%;
				
				float: left;
				margin-left: 5px;
				margin-bottom: 6px;
			}
.number:hover{
	
	box-shadow: 2px 2px 5px #cdcbcb;
	transform: translate3d(0,-2px,0);

}
.two{
	line-height: 1px;
	font-size: 14px;
	text-align: center;
	margin-top:180px;
	font-weight:400px;
	color:#333
}
.three{
	line-height:1px;
	font-size: 12px;
	text-align: center;
	color:#b0b0b0;
	margin-top:20px;
}
.p-price{
	display: inline-block;
	margin-top:15px;
	padding-left:95px;
	margin-bottom:10px;
	color: #FF4400;
	font-size:14px;
}
.new{
	position: absolute;
	display: inline-block;
	margin-left:-56px;
	margin-top:-221px;
	width:64px;
	height:20px;
	background-color:#83c44e;
	color:white;
	font-size:12px;
	text-align:center;
	line-height:20px;
}
.new-red{
	position: absolute;
	display: inline-block;
	margin-left:-56px;
	margin-top:-221px;
	width:64px;
	height:20px;
	background-color:#e53935;
	color:white;
	font-size:12px;
	text-align:center;
	line-height:20px;
}
.radius_span-a{
			    background-color: #b0b0b0;
			    height: 18px;
			    width: 18px;
			    display: inline-block;
			    vertical-align: bottom;
			    border-radius: 50%;
}
.radius_span-a:hover{
	            background-color: #FF4400;1
}	
.radius_span-a:after{				
			    content: "";
			    border: 2px solid #fff;
			    border-left: 0;
			    border-bottom:0;
			    width: 6px;
			    height: 6px;
			    display: block;
			    transform: rotate(45deg);
			    margin-top: 4px;
			    margin-left: 3.5px;
}

.guang-p{    
	            display:inline-block;
	            left:109px;
	            margin-top:20px;
	            width:1218px;
	            height:120px;
}



/*第三个*/


.big_div-9{
	     position:absolute;
	     margin-top:175px;
	     margin-left:107px;
	     width: 1228px;
	     height:674px;
	     
	     background-color: whitesmoke;
}
.nav-9{    
	    /* position:absolute;*/
         top:1px;
         left:1px;
	    
	     width:1380px;
	     height:50px;
}
.right-9{
	     position: absolute;
         top:2px;
         right:2px;
	     width:345px;
	     height: 45px;
	     margin-right:-17px;
	     
}
.left{   
	     position:relative;
         left:2px;
         top:2px;
         margin-right:352px; 
	     height:45px;
	     
}
.right-9-ul{
	     list-style-type: none;
	     margin:0;
	     padding:0;
}
.right-9-a{     
         float:right;
         color: #424242;
         font-size:16px;
         text-decoration:none;
         margin: 0 8px;
         margin-right:25px;
         margin-top:13px;
        
}
.right-9-a:hover{ 
	     border-bottom: 2px solid #ff6700;
	     color:#ff6700;
	     
}
.left-span-9{
	     display:inline-block;
	     font-size:16px;
	     margin-left:49px;
	     line-height:58px;
	     color:#333;
	     
	    
}
.body_left-9{   
	     psition:absolute;
         margin-top:1px;
	     margin-left:15px;
	     height:620px;
	     width:300px;
	     display: inline-block;
}

.top_p{ 
	     
	    
	     width: 300px;
	     height: 300px;
}
.top_p_img{
	       width:234px;
	       height:300px;
}
.bottom_p{
	     position:absolute;
	     margin-top:9px;
	    
	     width: 300px;
	     height: 306px;
}
.bottom_p_img{
	      width:234px;
	      height:300px;
}
.body_right-9{
	       display:inline-block;
	       position:absolute;
	       left:302px;
	       
	       width:1065px;
	       height:620px;
	       /*background-color:whitesmoke;*/
}
.right_one,
.right_two,
.right_three,
.right_four,
.right_five,
.right_six,
.right_seven,
.right_eight{
	     position:absolute;
	     width:234px;
	     height:298px; 
	    background-color: white;
}
.right_one{
	       left:-35px;
	       top:-4px;
}
.right_one:hover{
	  box-shadow: 2px 2px 5px #cdcbcb;
	  transform: translate3d(0,-2px,0);
}
.right_two{
	      left:206px;
	      top:-4px;
}
.right_two:hover{
	box-shadow: 2px 2px 5px #cdcbcb;
	transform: translate3d(0,-2px,0);
}
.right_three{
	      left:445px;
	      top:-4px;
}
.right_three:hover{
	box-shadow: 2px 2px 5px #cdcbcb;
	transform: translate3d(0,-2px,0);
}
.right_four{
	      left:685px;
	      top:-4px;
}
.right_four:hover{
	box-shadow: 2px 2px 5px #cdcbcb;
	transform: translate3d(0,-2px,0);
}
.right_five{
	       left:-35px;
	       top:308px;
}
.right_five:hover{
	box-shadow: 2px 2px 5px #cdcbcb;
	transform: translate3d(0,-2px,0);
}
.right_six{
	      left:206px;
	      top:308px;
}
.right_six:hover{
	box-shadow: 2px 2px 5px #cdcbcb;
	transform: translate3d(0,-2px,0);
}
.right_seven{
	      left:445px;
	      top:308px;
}
.right_seven:hover{
	box-shadow: 2px 2px 5px #cdcbcb;
	transform: translate3d(0,-2px,0);
}
.right_eight{
	      left:685px;
	      top:308px;
}
.right_eight:hover{
	box-shadow: 2px 2px 5px #cdcbcb;
	transform: translate3d(0,-2px,0);
}
.body_right-9 img{
	  width:150px;
	  height:150px;
	  margin-left:45px;
	  margin-top:15px;
}

.lable{
	    margin-left:89px;
	    padding:0px 2px 2px 4px;
	    width:50px;
	    heigth:15px;
	    background-color: red;
	    font-size:12px;
	    color:white;
}
.lable_green{
	    margin-left:89px;
	    padding:0px 2px 2px 4px;
	    width:50px;
	    heigth:15px;
	    background-color: #99f54d;
	    font-size:12px;
	    color:white;
	    text-align: center;
}
.word-9{
	      font-size:14px;
	      color:#333;
	      text-align: center;
	      margin-top:175px;
}
.price-9{
	      display: inline-block;
	      font-size:14px;
	      color:#ff6700;
	    
	      margin-left:89px;
	      margin-top:25px;
}
.no{
	      font-size:12px;
	      color:#b0b0b0;
	       text-decoration: line-through;
}
.intro{
	       font-size:12px;
	       text-align: center;
	       color:#b0b0b0;
	       margin-top:5px;
}
.hidden-9{
	       position: absolute;
	       width:232px;
	       height:85px;
	       background-color:#FF6700;
	       margin-left:-1px;
	       width: 232px;
	       margin-top:-45px;
           display: none;
           opacity: 0.9;
}
.hidden-wors-9{
	      display: inline-block;
	      color:white;
	      font-size:12px;
	      margin-left:32px;
	      margin-top:10px;
}
.hidden-word-99{
	      font-size:12px;
	      color:rgba(255,255,255,0.6);
	      margin-left:39px;
	      margin-top:10px;
}
.a-9{
	       text-decoration: none;
}
.a-9:hover{
	        color:white;
}
.a-9:hover .hidden-9{
	      display:block;
}
/*广告*/

.guang-p2{    
	            display:inline-block;
	            left:109px;
	            margin-top:2150px;
	            width:1226px;
	            height:120px;
}
